body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e9eaed;
}

#root {
  text-align: center;
}

.App {
  display: inline-block;
  min-width: 350px;
  max-width: 500px;
  background: white;
  margin-top: 50px;
}

p {
  display: inline-block;
  margin-right: 100px;
}

ul{
  padding: 0;
}

input {    width: 145px;
  margin-top: 10px;}
li{
  padding: 5px 10px;
  border-bottom: 2px solid black;
  position: relative;
  list-style-type: none;
  text-transform: uppercase;
  text-align: left;
  min-height: 50px;
}

.buttons{
  position: absolute;
  right: 0;
  top:0px;
  /* float: right; */
  margin-top: 15px;
  
}

button {
  /* background: linear-gradient(to right, #549e39 , #8ab833); */
  border-radius: 25px;
  margin-right: 5px;
  min-width: 80px;
  border:none;
}